@import "colors";

@mixin layout {

    display: flex;
    align-items: center;
    justify-content: center;

}

body {

    @include layout;
    margin: 0;
    color: $mintWhite;
    background-color: $black;

}

main {

    height: 100%;
    background-color: $black;

    h1 {

        text-align: center;
        margin: 0;
        margin-top: 1rem;

    }

    #stats {

        @include layout;
        flex-direction: column;

    }

    #cards {
    
        @include layout;
        flex-wrap: wrap;
        width: 100%;
        max-width: 78rem;
        height: 100%;
        gap: 1em;
        
     div {
        
        border-radius: 1rem;
        background-color: $plateColor;
        cursor: pointer;
        img {
                
                height: 11rem;
                width: 11rem;
                border-radius: 1rem;
                transition: opacity .2s;
        }

        .disabled {

            opacity: 0;

        }

        }

    }

}
