

body {

    margin: 0;
    color: whitesmoke;
    background-color: black;
    display: flex;
    justify-content: center;

}

main {

    height: 100%;

    background-color: black;

    h1 {

        text-align: center;
        margin: 0;

    }

    #stats {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #cards {
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1250px;
        height: 100%;
        gap: 1em;
        
     div {
        border-radius: 15px;
        background-color: #222;
        cursor: pointer;
        img {
                
                height: 11rem;
                width: 11rem;
                border-radius: 15px;
                transition: opacity .2s;
        }

        .disabled {

            opacity: 0;


        }

        }

    }

}
